name: millicast_flutter_sdk
description: A Flutter SDK that allows developers to simplify Millicast services integration into their own Android and iOS apps.
version: 0.2.1
homepage: https://github.com/millicast/flutter-sdk

environment:
  sdk: ">=2.15.1 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  eventify: ^1.0.0
  dotenv: ^4.0.0
  flutter:
    sdk: flutter
  logger: ^1.1.0
  flutter_webrtc: ^0.8.1
  http: ^0.13.4
  mockito: ^5.0.17
  web_socket_channel: ^2.1.0
  jwt_decode: ^0.3.1
  sdp_transform: ^0.3.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0
  dartdoc: ^4.1.0
  test: ^1.17.12
  build_runner: ^2.1.7

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      android:
        package: com.millicast_flutter_sdk
        pluginClass: MillicastFlutterSdkPlugin
      ios:
        pluginClass: MillicastFlutterSdkPlugin

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
